
<div *ngIf="vehiculo">
    <h2><span jhiTranslate="nuevoApp.vehiculo.detail.title">Vehiculo</span> {{vehiculo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nuevoApp.vehiculo.placa">Placa</span></dt>
        <dd>
            <span>{{vehiculo.placa}}</span>
        </dd>
        <dt><span jhiTranslate="nuevoApp.vehiculo.tipo">Tipo</span></dt>
        <dd>
            <span jhiTranslate="{{'nuevoApp.TipoVehiculo.' + vehiculo.tipo}}">{{vehiculo.tipo}}</span>
        </dd>
        <dt><span jhiTranslate="nuevoApp.vehiculo.cilindraje">Cilindraje</span></dt>
        <dd>
            <span>{{vehiculo.cilindraje}}</span>
        </dd>
        <dt><span jhiTranslate="nuevoApp.vehiculo.fechaIngreso">Fecha Ingreso</span></dt>
        <dd>
            <span>{{vehiculo.fechaIngreso | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'vehiculo/'+ vehiculo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
